@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@100;300;400;500;700;900&display=swap'); */
/* @font-face {
  font-family: "Genshin";
  src: url("/genshin.woff2");
} */

body {
  --vp-font-family-base: "Noto Sans SC", sans-serif, "Inter var experimental", "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* --vp-font-family-base: "Noto Serif SC", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif */
}

.vp-doc li {
  line-height: 28px;
}

/* 图片居中 */
.vp-doc img {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  max-height: 365px;
}
/* 图片下方注释 */
.vp-doc .imgCaption {
  text-align: center;
  font-size: 14px;
  color:#909090;
  margin-top: -10px;
  line-height: 22px;
}
/* 表格中的图片注释 */
.vp-doc .imgCaptionX {
  text-align: center;
  font-size: 14px;
  color:#909090;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.VPSidebar {
  overscroll-behavior: contain;
}

body:has(.VPSidebar.open) {
  overflow: hidden;
}

.twitter-tweet-rendered {
  border-radius: 13px;
}

/* 点击图片放大设置 */
.medium-zoom-overlay {
  /* 感觉没必要用模糊效果 */
  /* background-color: var(--vp-c-bg)E6 !important;
  backdrop-filter: blur(6px); */
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

/* 引用块样式调整：背景灰色，字样式与正文相同 */
.vp-doc blockquote > p {
  margin: 6px;
  color: var(--vp-c-text-1);
}

.vp-doc blockquote {
  border-radius: 6px;
  border-left: 6px solid #7777776d;
  background-color: #3d3d3d2e;
  padding: 7px 14px 7px 10px;
}

.dark .vp-doc blockquote {
  border-left: 6px solid #777777ae;
  background-color: #3d3d3da0;
}

/* 各级标题调整：上面加边框，后面加#号 */
.vp-doc h2 {
  /* padding-bottom: 0.3em; */
  padding-top: 1ch;
  border-top: 2px solid var(--vp-c-divider);
  /* font-family: "Genshin"; */
}

.vp-doc h3 {
  padding-top: 0.5ch;
  border-top: 1px dashed var(--vp-c-divider-light);
}

.vp-doc h4 {
  /* padding-top: 1ch; */
  margin-top: 16px;
  font-size: 18px;
}

.vp-doc h5 {
  /* padding-top: 1ch; */
  margin-top: 16px;
  font-size: 16px;
}

.vp-doc h6 {
  /* padding-top: 1ch; */
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
}

.vp-doc h2::after,
.vp-doc h3::after,
.vp-doc h4::after {
  font-weight: 400;
  text-align: left;
  width: 5ch;
  padding-left: 1ch;
  margin-right: -5ch;
  color: #808e95a9;
  display: inline-block;
}

.vp-doc h2::after {
  content: '#';
}

.vp-doc h3::after {
  content: '##';
}

.vp-doc h4::after {
  content: '###';
}

/* BiliComment组件中的reply回复人昵称 */
.bc-reply {
  color:#FB7299;
  font-size:13px;
  font-weight: bold;
  /* margin-right:10px; */
  margin-top: 8px;
}

/* BiliComment组件中的slot插槽样式 */
.vp-doc .slot-content p{
  margin-bottom:0px;
  /* padding:0px; */
  /* position:relative; */
  font-size:15px;
  line-height: 24px;
}

.vp-doc .slot-content li{
  line-height: 24px;
}

.vp-doc .slot-content li+li{
  margin-top: 4px;
}